<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-label>SMENUP bonjour monde!</ion-label>
    <div align="center" *ngIf="user">
      <ion-avatar>
        <img src="{{ user.picture }}">
      </ion-avatar>

      <p>{{ user.firstName}} {{ user.lastName }}</p>
      <p>{{ user.email }}</p>
    </div>

    <ion-button expand="block" (click)="gotoJV();">GO TO JV</ion-button>
  </div>
</ion-content>
